<?xml version="1.0" encoding="utf-8"?>	
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>

	<appSettings>
		<!-- Aqui é onde você pode adicionar suas variáveis de ambiente -->
		<add key="OPENAI_KEY" value="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" />
	</appSettings>
</configuration>
